.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #ffffff; /* white background */
  padding: 10px 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* optional: adds a shadow */
}

.logo-container {
  display: flex;
  align-items: center;
  flex: 1; /* Take up remaining space */
}

.logo {
  width: 80%; /* Full width */
  max-width: 200px; /* Set maximum width as needed */
  height: auto; /* Maintain aspect ratio */
  cursor: pointer;
}

.auth-buttons {
  display: flex;
  align-items: center;
  justify-content: center;
gap: 5px;
}

.auth-button {
  padding: 8px 15px;
 
  border: none;
  background-color:#149595;
  color: white; /* light color */
  font-size: 13px;
  cursor: pointer;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* shadow effect */
}

.auth-button:hover {
  background-color: rgb(48, 93, 142); /* white color */
}

@media(max-width:700px){
  .auth-button {
    padding: 7px 14px;
    border: none;
    background-color:#149595;
    color: white; /* light color */
    font-size: 10px;
    cursor: pointer;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* shadow effect */
  }
}