.send-password-reset-email {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    align-items: center;
    background-color: #fff; /* White background */
    position: fixed; /* Change to fixed positioning */
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%) scale(0); /* Initial scale is 0 */
    z-index: 99999;
    border-radius: 30px;
    width: 40%; /* Increased width */
    padding: 30px; /* Increased padding */
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    height: 300px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    animation: zoomIn 0.5s forwards; /* Apply zoom-in animation */
  }


  
  .send-password-reset-email .input-div{
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .forget-password-input{
    width: 100%;
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #cccccc; /* Light gray border */
    border-radius: 8px;
  }

  .forget-password-button{
    padding: 10px;
    background-color:#55b2b0; /* Blue background */
    color: #fff;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }

  @media(max-width:800px){
    .send-password-reset-email{
        height:350px;
        width: 70%;
    } 
  }